table {
  width: 100% ;
  border-collapse: collapse ;
  background-color: rgb(61, 61, 61);
  color: rgb(255, 255, 255);
}

caption,
th,
td {
  padding: 1rem;
}
caption,
th {
  text-align: left;
}

caption {
  background-color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

th {
  background-color: rgb(25, 25, 25);
}

tr:nth-of-type(2n) {
  background-color: rgb(69, 69, 69);
}